initial-evaluation/evaluationResources/process-traDE-models/TradeEvaluationPlainP2/Participant3Artifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Participant3_TargetNameSpace"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Participant3Artifacts"
	targetNamespace="http://Participant3_TargetNameSpace">
	<plnk:partnerLinkType
		name="Participant2-Participant3-realizedBy-P3PortType-plt">
		<plnk:role name="Participant3Provider" portType="tns:P3PortType" />
	</plnk:partnerLinkType>
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://Participant3_TargetNameSpace">
			<xsd:element name="P3RequestMessage-RequestElement"
				type="tns:tP3RequestMessage-RequestElementType" />
			<xsd:complexType name="tP3RequestMessage-RequestElementType">
				<xsd:sequence>
					<xsd:element name="correlationID" type="xsd:string" />
					<xsd:element name="dataE" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="P3RequestMessage">
		<wsdl:part element="tns:P3RequestMessage-RequestElement"
			name="payload" />
	</wsdl:message>
	<wsdl:portType name="P3PortType">
		<wsdl:operation name="process">
			<wsdl:input message="tns:P3RequestMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Participant3-P3PortType-Binding" type="tns:P3PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="process">
			<soap:operation soapAction="http://Participant3_TargetNameSpace/process" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Participant3-P3PortType-Service">
		<wsdl:port binding="tns:Participant3-P3PortType-Binding"
			name="Participant3-P3PortType-Port">
			<soap:address
				location="http://[Host-IP-of-evaluation-environment]:32002/ode/processes/Participant3-P3PortType-Service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
